@using AspMVC_Demo.Domain.Entities
@model IEnumerable<Contact>;
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher Contact</title>
    <link rel="stylesheet" type="text/css" href="~/css/Header.css">
    <link rel="stylesheet" type="text/css" href="~/css/GererContact.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="ul-topbar">
                <li><a href="~/home/Index">Accueil</a></li>
                <li><a href="~/home/Contact">Contact</a></li>
                <li><a href="~/auth/login">Login</a></li>
                <li><a href="~/auth/register">S'enregistrer</a></li>
                <li class="dropdown">
                    <a href="~/Contact/GererContact">Gestion des contacts</a>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="~/Contact/AfficherContact">Afficher contact</a>
                            <a href="~/Contact/EnregistrerContact">Enregistrer contact</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Afficher Contact</h1>
    <nav class="sous-navbar">
        <ul class="ul-sous-topbar">
            <li><a href="~/Contact/AfficherContact">Afficher contact</a></li>
            <li><a href="~/Contact/EnregistrerContact">Enregistrer un contact</a></li>
        </ul>
    </nav>
    <table>
        <thead>
            <tr>
                <th class="AfficherContact-Prenom">Prenom</th>
                <th class="AfficherContact-Nom">Nom</th>
                <th class="AfficherContact-Email">Email</th>
                <th class="AfficherContact-Detail">Detail</th>
                <th class="AfficherContact-Modifier">Modifier</th>
                <th class="AfficherContact-Supprimer">Supprimer</th>

            </tr>
        </thead>
        <tbody>
            @foreach (Contact contact in Model)
            {
                <tr>
                    <td>@contact.Nom</td>
                    <td>@contact.Prenom</td>
                    <td>@contact.Email</td>
                    <td><a asp-action="DetailContact" asp-route-id="@contact.Id" class="delete-btn"><img src="~/img/detail32px.png" alt="voir details" /></a></td>
                    <td><a asp-action="ModifierContact" asp-route-id="@contact.Id" class="delete-btn"><img src="~/img/modifier32px.png" alt="modifier contact" /></a></td>
                    <td><a asp-action="DeleteContact" asp-route-id="@contact.Id" class="delete-btn"><img src="~/img/supprimer.png" alt="supprimer contact" class="btn-tab-suppression" /></a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="tr-tfoot"> 
                <td colspan="6">gestion de vos contact</td>
             </tr>
        </tfoot>
    </table>
</body>
</html>
