@using AspMVC_Demo.Domain.Entities
@model IEnumerable<Contact>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Afficher Contact";
}

<h1>Afficher Contact</h1>
<nav class="sous-navbar">
    <ul class="ul-sous-topbar">
        <li><a href="~/Contact/AfficherContact">Afficher contact</a></li>
        <li><a href="~/Contact/EnregistrerContact">Enregistrer un contact</a></li>
    </ul>
</nav>
<table>
    <thead>
        <tr class="info-tr">
            <th class="AfficherContact-Prenom">Prénom</th>
            <th class="AfficherContact-Nom">Nom</th>
            <th class="AfficherContact-Email">Email</th>
            <th class="AfficherContact-Detail">Détail</th>
            <th class="AfficherContact-Modifier">Modifier</th>
            <th class="AfficherContact-Supprimer">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Prenom</td>
                <td>@contact.Nom</td>
                <td>@contact.Email</td>
                <td><a asp-action="DetailContact" asp-route-id="@contact.Id" class="delete-btn"><img src="~/img/detail32px.png" alt="voir détails" /></a></td>
                <td><a asp-action="ModifierContact" asp-route-id="@contact.Id" class="delete-btn"><img src="~/img/modifier32px.png" alt="modifier contact" /></a></td>
                <td><a asp-action="DeleteContact" asp-route-id="@contact.Id" class="delete-btn"><img src="~/img/supprimer.png" alt="supprimer contact" class="btn-tab-suppression" /></a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="tr-tfoot">
            <td colspan="6">Gestion de vos contacts</td>
        </tr>
    </tfoot>
</table>

